--
-- PostgreSQL database dump
--

\restrict WNPWGr7mKRwUucQ1Yu6fd6guStBVb07bDc2uXfaxnUe9Ds0dfIabvx7yFCUqMmo

-- Dumped from database version 16.15 (Debian 16.15-1.pgdg13+2)
-- Dumped by pg_dump version 16.15 (Debian 16.15-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: fte_amt; Type: DOMAIN; Schema: public; Owner: cpde
--

CREATE DOMAIN public.fte_amt AS numeric(7,3)
	CONSTRAINT fte_amt_check CHECK ((VALUE >= (0)::numeric));


ALTER DOMAIN public.fte_amt OWNER TO cpde;

--
-- Name: money_amt; Type: DOMAIN; Schema: public; Owner: cpde
--

CREATE DOMAIN public.money_amt AS numeric(18,2);


ALTER DOMAIN public.money_amt OWNER TO cpde;

--
-- Name: pct_prob; Type: DOMAIN; Schema: public; Owner: cpde
--

CREATE DOMAIN public.pct_prob AS numeric(9,6)
	CONSTRAINT pct_prob_check CHECK (((VALUE >= (0)::numeric) AND (VALUE <= (1)::numeric)));


ALTER DOMAIN public.pct_prob OWNER TO cpde;

--
-- Name: rate_frac; Type: DOMAIN; Schema: public; Owner: cpde
--

CREATE DOMAIN public.rate_frac AS numeric(9,6);


ALTER DOMAIN public.rate_frac OWNER TO cpde;

--
-- Name: current_tenant(); Type: FUNCTION; Schema: public; Owner: cpde
--

CREATE FUNCTION public.current_tenant() RETURNS uuid
    LANGUAGE plpgsql STABLE
    AS $$
DECLARE v TEXT;
BEGIN
    v := current_setting('app.client_id', true);
    IF v IS NULL OR v = '' THEN
        -- Fail CLOSED. No context means no rows, never all rows.
        RETURN '00000000-0000-0000-0000-000000000000'::uuid;
    END IF;
    RETURN v::uuid;
EXCEPTION WHEN others THEN
    RETURN '00000000-0000-0000-0000-000000000000'::uuid;
END; $$;


ALTER FUNCTION public.current_tenant() OWNER TO cpde;

--
-- Name: FUNCTION current_tenant(); Type: COMMENT; Schema: public; Owner: cpde
--

COMMENT ON FUNCTION public.current_tenant() IS 'Returns the all-zero UUID when no tenant context is set, so a query without context matches nothing. Fails closed by construction.';


--
-- Name: fn_inherit_client_from_assessment(); Type: FUNCTION; Schema: public; Owner: cpde
--

CREATE FUNCTION public.fn_inherit_client_from_assessment() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    SELECT client_id INTO NEW.client_id FROM pwin_assessment WHERE id = NEW.pwin_assessment_id;
    IF NEW.client_id IS NULL THEN
        RAISE EXCEPTION 'cannot resolve client_id from assessment %', NEW.pwin_assessment_id;
    END IF;
    RETURN NEW;
END; $$;


ALTER FUNCTION public.fn_inherit_client_from_assessment() OWNER TO cpde;

--
-- Name: fn_inherit_client_from_org(); Type: FUNCTION; Schema: public; Owner: cpde
--

CREATE FUNCTION public.fn_inherit_client_from_org() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    SELECT client_id INTO NEW.client_id FROM org_node WHERE id = NEW.org_node_id;
    IF NEW.client_id IS NULL THEN
        RAISE EXCEPTION 'cannot resolve client_id from org_node %', NEW.org_node_id;
    END IF;
    RETURN NEW;
END; $$;


ALTER FUNCTION public.fn_inherit_client_from_org() OWNER TO cpde;

--
-- Name: fn_inherit_client_from_pursuit(); Type: FUNCTION; Schema: public; Owner: cpde
--

CREATE FUNCTION public.fn_inherit_client_from_pursuit() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    SELECT client_id INTO NEW.client_id FROM pursuit WHERE id = NEW.pursuit_id;
    IF NEW.client_id IS NULL THEN
        RAISE EXCEPTION 'cannot resolve client_id from pursuit %', NEW.pursuit_id;
    END IF;
    RETURN NEW;
END; $$;


ALTER FUNCTION public.fn_inherit_client_from_pursuit() OWNER TO cpde;

--
-- Name: fn_inherit_client_from_user(); Type: FUNCTION; Schema: public; Owner: cpde
--

CREATE FUNCTION public.fn_inherit_client_from_user() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    SELECT client_id INTO NEW.client_id FROM app_user WHERE id = NEW.user_id;
    IF NEW.client_id IS NULL THEN
        RAISE EXCEPTION 'cannot resolve client_id from app_user %', NEW.user_id;
    END IF;
    RETURN NEW;
END; $$;


ALTER FUNCTION public.fn_inherit_client_from_user() OWNER TO cpde;

--
-- Name: fn_market_code_immutable(); Type: FUNCTION; Schema: public; Owner: cpde
--

CREATE FUNCTION public.fn_market_code_immutable() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF NEW.code IS DISTINCT FROM OLD.code THEN
        RAISE EXCEPTION 'market.code is immutable (attempted % -> %)', OLD.code, NEW.code;
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.fn_market_code_immutable() OWNER TO cpde;

--
-- Name: fn_org_node_validate(); Type: FUNCTION; Schema: public; Owner: cpde
--

CREATE FUNCTION public.fn_org_node_validate() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    parent_type   TEXT;
    parent_client UUID;
BEGIN
    IF NEW.parent_id IS NULL THEN
        RETURN NEW;
    END IF;

    SELECT node_type, client_id INTO parent_type, parent_client
      FROM org_node WHERE id = NEW.parent_id;

    IF parent_client <> NEW.client_id THEN
        RAISE EXCEPTION 'org_node % parent belongs to a different client', NEW.code;
    END IF;

    IF NOT ( (NEW.node_type = 'business_unit' AND parent_type = 'business')
          OR (NEW.node_type = 'division'      AND parent_type = 'business_unit') ) THEN
        RAISE EXCEPTION 'invalid org nesting: % under %', NEW.node_type, parent_type;
    END IF;

    RETURN NEW;
END;
$$;


ALTER FUNCTION public.fn_org_node_validate() OWNER TO cpde;

--
-- Name: fn_user_visible_org_nodes(uuid); Type: FUNCTION; Schema: public; Owner: cpde
--

CREATE FUNCTION public.fn_user_visible_org_nodes(p_user_id uuid) RETURNS TABLE(org_node_id uuid)
    LANGUAGE sql STABLE
    AS $$
    WITH RECURSIVE assigned AS (
        SELECT o.id, o.parent_id
          FROM org_node o
          JOIN user_scope_assignment usa ON usa.org_node_id = o.id
         WHERE usa.user_id = p_user_id
           AND o.is_active
        UNION ALL
        SELECT c.id, c.parent_id
          FROM org_node c
          JOIN assigned a ON c.parent_id = a.id
         WHERE c.is_active
    )
    SELECT DISTINCT id FROM assigned;
$$;


ALTER FUNCTION public.fn_user_visible_org_nodes(p_user_id uuid) OWNER TO cpde;

--
-- Name: set_tenant(uuid); Type: FUNCTION; Schema: public; Owner: cpde
--

CREATE FUNCTION public.set_tenant(p_client_id uuid) RETURNS void
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- SET LOCAL: reverts at COMMIT/ROLLBACK, so a pooled connection cannot
    -- carry this tenant into the next request.
    PERFORM set_config('app.client_id', p_client_id::text, true);
END; $$;


ALTER FUNCTION public.set_tenant(p_client_id uuid) OWNER TO cpde;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: app_user; Type: TABLE; Schema: public; Owner: cpde
--

CREATE TABLE public.app_user (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    client_id uuid NOT NULL,
    email text NOT NULL,
    display_name text NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);

ALTER TABLE ONLY public.app_user FORCE ROW LEVEL SECURITY;


ALTER TABLE public.app_user OWNER TO cpde;

--
-- Name: audit_log; Type: TABLE; Schema: public; Owner: cpde
--

CREATE TABLE public.audit_log (
    id bigint NOT NULL,
    occurred_at timestamp with time zone DEFAULT now() NOT NULL,
    client_id uuid,
    user_id uuid,
    action text NOT NULL,
    table_name text,
    record_id uuid,
    changed_fields jsonb,
    ip_address inet,
    user_agent text
);

ALTER TABLE ONLY public.audit_log FORCE ROW LEVEL SECURITY;


ALTER TABLE public.audit_log OWNER TO cpde;

--
-- Name: TABLE audit_log; Type: COMMENT; Schema: public; Owner: cpde
--

COMMENT ON TABLE public.audit_log IS 'Required for NIST 800-171 / CMMC regardless of hosting tier. Build now; retrofitting audit trails after the fact is materially harder.';


--
-- Name: audit_log_id_seq; Type: SEQUENCE; Schema: public; Owner: cpde
--

CREATE SEQUENCE public.audit_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_log_id_seq OWNER TO cpde;

--
-- Name: audit_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cpde
--

ALTER SEQUENCE public.audit_log_id_seq OWNED BY public.audit_log.id;


--
-- Name: client; Type: TABLE; Schema: public; Owner: cpde
--

CREATE TABLE public.client (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);

ALTER TABLE ONLY public.client FORCE ROW LEVEL SECURITY;


ALTER TABLE public.client OWNER TO cpde;

--
-- Name: COLUMN client.code; Type: COMMENT; Schema: public; Owner: cpde
--

COMMENT ON COLUMN public.client.code IS 'Immutable after creation. Engine resolves market_calibration by (client.code, market.code).';


--
-- Name: contract_type; Type: TABLE; Schema: public; Owner: cpde
--

CREATE TABLE public.contract_type (
    id smallint NOT NULL,
    code text NOT NULL,
    label text NOT NULL,
    engine_value text NOT NULL,
    display_order integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.contract_type OWNER TO cpde;

--
-- Name: contract_type_id_seq; Type: SEQUENCE; Schema: public; Owner: cpde
--

CREATE SEQUENCE public.contract_type_id_seq
    AS smallint
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.contract_type_id_seq OWNER TO cpde;

--
-- Name: contract_type_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cpde
--

ALTER SEQUENCE public.contract_type_id_seq OWNED BY public.contract_type.id;


--
-- Name: labor_category; Type: TABLE; Schema: public; Owner: cpde
--

CREATE TABLE public.labor_category (
    id smallint NOT NULL,
    code text NOT NULL,
    label text NOT NULL,
    category_group text,
    display_order integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.labor_category OWNER TO cpde;

--
-- Name: labor_category_id_seq; Type: SEQUENCE; Schema: public; Owner: cpde
--

CREATE SEQUENCE public.labor_category_id_seq
    AS smallint
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.labor_category_id_seq OWNER TO cpde;

--
-- Name: labor_category_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cpde
--

ALTER SEQUENCE public.labor_category_id_seq OWNED BY public.labor_category.id;


--
-- Name: market; Type: TABLE; Schema: public; Owner: cpde
--

CREATE TABLE public.market (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    client_id uuid NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    display_order integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);

ALTER TABLE ONLY public.market FORCE ROW LEVEL SECURITY;


ALTER TABLE public.market OWNER TO cpde;

--
-- Name: opportunity_type; Type: TABLE; Schema: public; Owner: cpde
--

CREATE TABLE public.opportunity_type (
    id smallint NOT NULL,
    code text NOT NULL,
    label text NOT NULL,
    engine_value text NOT NULL,
    display_order integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    type_group text,
    CONSTRAINT opportunity_type_type_group_check CHECK ((type_group = ANY (ARRAY['PRODUCT'::text, 'SERVICES'::text])))
);


ALTER TABLE public.opportunity_type OWNER TO cpde;

--
-- Name: COLUMN opportunity_type.type_group; Type: COMMENT; Schema: public; Owner: cpde
--

COMMENT ON COLUMN public.opportunity_type.type_group IS 'PRODUCT = VBA IsDevOrExistingProduct() TRUE. SERVICES = FALSE. Selects which TM1a/TM1b prompt + option set is presented.';


--
-- Name: opportunity_type_id_seq; Type: SEQUENCE; Schema: public; Owner: cpde
--

CREATE SEQUENCE public.opportunity_type_id_seq
    AS smallint
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.opportunity_type_id_seq OWNER TO cpde;

--
-- Name: opportunity_type_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cpde
--

ALTER SEQUENCE public.opportunity_type_id_seq OWNED BY public.opportunity_type.id;


--
-- Name: org_node; Type: TABLE; Schema: public; Owner: cpde
--

CREATE TABLE public.org_node (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    client_id uuid NOT NULL,
    parent_id uuid,
    node_type text NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    is_license_boundary boolean DEFAULT false NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_org_root CHECK ((((parent_id IS NULL) AND (node_type = 'business'::text)) OR ((parent_id IS NOT NULL) AND (node_type <> 'business'::text)))),
    CONSTRAINT org_node_node_type_check CHECK ((node_type = ANY (ARRAY['business'::text, 'business_unit'::text, 'division'::text])))
);

ALTER TABLE ONLY public.org_node FORCE ROW LEVEL SECURITY;


ALTER TABLE public.org_node OWNER TO cpde;

--
-- Name: COLUMN org_node.is_license_boundary; Type: COMMENT; Schema: public; Owner: cpde
--

COMMENT ON COLUMN public.org_node.is_license_boundary IS 'Marks the business_unit level. FLAG ONLY -- no enforcement logic. Licensing is deliberately NOT wired into the access path. See NOTE-2.';


--
-- Name: phase; Type: TABLE; Schema: public; Owner: cpde
--

CREATE TABLE public.phase (
    id smallint NOT NULL,
    code text NOT NULL,
    label text NOT NULL,
    sequence_no integer NOT NULL,
    is_active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.phase OWNER TO cpde;

--
-- Name: phase_id_seq; Type: SEQUENCE; Schema: public; Owner: cpde
--

CREATE SEQUENCE public.phase_id_seq
    AS smallint
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.phase_id_seq OWNER TO cpde;

--
-- Name: phase_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cpde
--

ALTER SEQUENCE public.phase_id_seq OWNED BY public.phase.id;


--
-- Name: pipeline_stage; Type: TABLE; Schema: public; Owner: cpde
--

CREATE TABLE public.pipeline_stage (
    id smallint NOT NULL,
    code text NOT NULL,
    label text NOT NULL,
    sequence_no integer NOT NULL,
    is_active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.pipeline_stage OWNER TO cpde;

--
-- Name: pipeline_stage_id_seq; Type: SEQUENCE; Schema: public; Owner: cpde
--

CREATE SEQUENCE public.pipeline_stage_id_seq
    AS smallint
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pipeline_stage_id_seq OWNER TO cpde;

--
-- Name: pipeline_stage_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cpde
--

ALTER SEQUENCE public.pipeline_stage_id_seq OWNED BY public.pipeline_stage.id;


--
-- Name: plan_year; Type: TABLE; Schema: public; Owner: cpde
--

CREATE TABLE public.plan_year (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    org_node_id uuid NOT NULL,
    calendar_year integer NOT NULL,
    escalation_rate public.rate_frac,
    revenue_target public.money_amt,
    fee_target public.money_amt,
    budgeted_bp public.money_amt,
    budgeted_investment public.money_amt,
    current_contract_revenue public.money_amt,
    current_contract_fee public.money_amt,
    client_id uuid NOT NULL
);

ALTER TABLE ONLY public.plan_year FORCE ROW LEVEL SECURITY;


ALTER TABLE public.plan_year OWNER TO cpde;

--
-- Name: pursuit; Type: TABLE; Schema: public; Owner: cpde
--

CREATE TABLE public.pursuit (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    client_id uuid NOT NULL,
    org_node_id uuid NOT NULL,
    external_opportunity_id text,
    name text NOT NULL,
    market_id uuid,
    opportunity_type_id smallint,
    contract_type_id smallint,
    pipeline_stage_id smallint,
    depends_on_pursuit_id uuid,
    is_sole_source boolean DEFAULT false NOT NULL,
    bidders integer,
    bid_decision text,
    planned_total_award_value public.money_amt,
    planned_fee_rate public.rate_frac,
    investment_pct public.rate_frac,
    min_bp public.money_amt,
    max_bp public.money_amt,
    planned_investment public.money_amt,
    bp_start_date date,
    proposal_due_date date,
    contract_award_date date,
    period_end_date date,
    stage_completed_date date,
    cancel_date date,
    outcome text,
    outcome_date date,
    crm_pwin public.pct_prob,
    black_hat_ptw_complete boolean DEFAULT false NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_by uuid,
    CONSTRAINT ck_pursuit_dates CHECK ((((proposal_due_date IS NULL) OR (bp_start_date IS NULL) OR (proposal_due_date >= bp_start_date)) AND ((contract_award_date IS NULL) OR (proposal_due_date IS NULL) OR (contract_award_date >= proposal_due_date)) AND ((period_end_date IS NULL) OR (contract_award_date IS NULL) OR (period_end_date >= contract_award_date)))),
    CONSTRAINT ck_pursuit_no_self_dep CHECK ((depends_on_pursuit_id <> id)),
    CONSTRAINT pursuit_bid_decision_check CHECK ((bid_decision = ANY (ARRAY['BID'::text, 'NO_BID'::text, 'UNDECIDED'::text]))),
    CONSTRAINT pursuit_bidders_check CHECK (((bidders IS NULL) OR (bidders >= 1))),
    CONSTRAINT pursuit_outcome_check CHECK ((outcome = ANY (ARRAY['WON'::text, 'LOST'::text, 'CANCELLED'::text, 'NO_BID'::text])))
);

ALTER TABLE ONLY public.pursuit FORCE ROW LEVEL SECURITY;


ALTER TABLE public.pursuit OWNER TO cpde;

--
-- Name: COLUMN pursuit.bidders; Type: COMMENT; Schema: public; Owner: cpde
--

COMMENT ON COLUMN public.pursuit.bidders IS 'Competitor COUNT only. Competitor identity is intentionally NOT stored client-side -- supplied to CDA during onboarding. See NOTE-3.';


--
-- Name: pursuit_phase_duration; Type: TABLE; Schema: public; Owner: cpde
--

CREATE TABLE public.pursuit_phase_duration (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    pursuit_id uuid NOT NULL,
    phase_id smallint NOT NULL,
    weeks numeric(7,2),
    client_id uuid NOT NULL,
    CONSTRAINT pursuit_phase_duration_weeks_check CHECK ((weeks >= (0)::numeric))
);

ALTER TABLE ONLY public.pursuit_phase_duration FORCE ROW LEVEL SECURITY;


ALTER TABLE public.pursuit_phase_duration OWNER TO cpde;

--
-- Name: pursuit_staffing; Type: TABLE; Schema: public; Owner: cpde
--

CREATE TABLE public.pursuit_staffing (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    pursuit_id uuid NOT NULL,
    labor_category_id smallint NOT NULL,
    phase_id smallint NOT NULL,
    fte public.fte_amt DEFAULT 0 NOT NULL,
    client_id uuid NOT NULL
);

ALTER TABLE ONLY public.pursuit_staffing FORCE ROW LEVEL SECURITY;


ALTER TABLE public.pursuit_staffing OWNER TO cpde;

--
-- Name: pursuit_staffing_meta; Type: TABLE; Schema: public; Owner: cpde
--

CREATE TABLE public.pursuit_staffing_meta (
    pursuit_id uuid NOT NULL,
    effective_bp_pct public.rate_frac,
    calculated_bp public.money_amt,
    planned_bp_required public.money_amt,
    calculated_at timestamp with time zone,
    engine_version text,
    client_id uuid
);

ALTER TABLE ONLY public.pursuit_staffing_meta FORCE ROW LEVEL SECURITY;


ALTER TABLE public.pursuit_staffing_meta OWNER TO cpde;

--
-- Name: pursuit_year_projection; Type: TABLE; Schema: public; Owner: cpde
--

CREATE TABLE public.pursuit_year_projection (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    pursuit_id uuid NOT NULL,
    year_offset integer NOT NULL,
    calendar_year integer,
    billable_contract_days numeric(9,2),
    probabilistic_revenue public.money_amt,
    probabilistic_fee public.money_amt,
    bp_days numeric(9,2),
    bp_required public.money_amt,
    planned_investment public.money_amt,
    client_id uuid NOT NULL,
    CONSTRAINT pursuit_year_projection_year_offset_check CHECK ((year_offset >= 1))
);

ALTER TABLE ONLY public.pursuit_year_projection FORCE ROW LEVEL SECURITY;


ALTER TABLE public.pursuit_year_projection OWNER TO cpde;

--
-- Name: TABLE pursuit_year_projection; Type: COMMENT; Schema: public; Owner: cpde
--

COMMENT ON TABLE public.pursuit_year_projection IS 'Derived from engine/AOP calculation. year_offset is relative to the planning year. Deliberately unbounded -- the workbook''s hard 5-year limit was a spreadsheet artifact, not a business rule.';


--
-- Name: pwin_answer; Type: TABLE; Schema: public; Owner: cpde
--

CREATE TABLE public.pwin_answer (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    pwin_assessment_id uuid NOT NULL,
    question_id uuid NOT NULL,
    question_option_id uuid,
    numeric_value numeric,
    boolean_value boolean,
    client_id uuid NOT NULL,
    CONSTRAINT ck_pwin_answer_one_value CHECK ((((((question_option_id IS NOT NULL))::integer + ((numeric_value IS NOT NULL))::integer) + ((boolean_value IS NOT NULL))::integer) = 1))
);

ALTER TABLE ONLY public.pwin_answer FORCE ROW LEVEL SECURITY;


ALTER TABLE public.pwin_answer OWNER TO cpde;

--
-- Name: pwin_assessment; Type: TABLE; Schema: public; Owner: cpde
--

CREATE TABLE public.pwin_assessment (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    pursuit_id uuid NOT NULL,
    questionnaire_version_id uuid NOT NULL,
    engine_version text NOT NULL,
    calculated_at timestamp with time zone DEFAULT now() NOT NULL,
    calculated_by uuid,
    pwin public.pct_prob,
    base_pwin public.pct_prob,
    score_tech numeric(8,3),
    score_mgmt numeric(8,3),
    score_past_perf numeric(8,3),
    price_position numeric(9,6),
    competitor_price_position numeric(9,6),
    engine_request jsonb,
    engine_response jsonb,
    is_current boolean DEFAULT true NOT NULL,
    scenario text DEFAULT 'BASE'::text NOT NULL,
    blended_pwin public.pct_prob,
    client_id uuid NOT NULL,
    CONSTRAINT pwin_assessment_scenario_check CHECK ((scenario = ANY (ARRAY['BASE'::text, 'DEPENDENT_WON'::text])))
);

ALTER TABLE ONLY public.pwin_assessment FORCE ROW LEVEL SECURITY;


ALTER TABLE public.pwin_assessment OWNER TO cpde;

--
-- Name: TABLE pwin_assessment; Type: COMMENT; Schema: public; Owner: cpde
--

COMMENT ON TABLE public.pwin_assessment IS 'Append-only. Never UPDATE pwin values in place -- insert a new row and flip is_current. Accuracy validation depends on knowing which engine version and questionnaire version produced a given number.';


--
-- Name: COLUMN pwin_assessment.scenario; Type: COMMENT; Schema: public; Owner: cpde
--

COMMENT ON COLUMN public.pwin_assessment.scenario IS 'BASE           = standalone assessment (Pursuits Pwins sheet). DEPENDENT_WON  = assessment assuming pursuit.depends_on_pursuit_id                  is won (Pursuits Pwins Dependent sheet). Only pursuits with a dependency have a DEPENDENT_WON row.';


--
-- Name: COLUMN pwin_assessment.blended_pwin; Type: COMMENT; Schema: public; Owner: cpde
--

COMMENT ON COLUMN public.pwin_assessment.blended_pwin IS 'Engine output combining BASE and DEPENDENT_WON weighted by the depended-on pursuit''s own Pwin. Recorded on the BASE row. NULL for pursuits with no dependency -- in that case pwin IS the final value.';


--
-- Name: question; Type: TABLE; Schema: public; Owner: cpde
--

CREATE TABLE public.question (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    questionnaire_version_id uuid NOT NULL,
    code text NOT NULL,
    display_order integer NOT NULL,
    prompt_text text NOT NULL,
    help_text text,
    answer_type text NOT NULL,
    is_required boolean DEFAULT true NOT NULL,
    numeric_min numeric,
    numeric_max numeric,
    section text,
    CONSTRAINT question_answer_type_check CHECK ((answer_type = ANY (ARRAY['single_select'::text, 'numeric'::text, 'boolean'::text])))
);


ALTER TABLE public.question OWNER TO cpde;

--
-- Name: question_dependency; Type: TABLE; Schema: public; Owner: cpde
--

CREATE TABLE public.question_dependency (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    question_id uuid NOT NULL,
    depends_on_question_id uuid NOT NULL,
    trigger_option_id uuid NOT NULL,
    effect text NOT NULL,
    CONSTRAINT ck_qd_not_self CHECK ((question_id <> depends_on_question_id)),
    CONSTRAINT question_dependency_effect_check CHECK ((effect = ANY (ARRAY['DISABLE'::text, 'HIDE'::text, 'REQUIRE'::text])))
);


ALTER TABLE public.question_dependency OWNER TO cpde;

--
-- Name: TABLE question_dependency; Type: COMMENT; Schema: public; Owner: cpde
--

COMMENT ON TABLE public.question_dependency IS 'Cross-question conditional logic. Currently one known rule: P2 = LPTA disables TM1A and TM1B. Source: PwinForm.frm (CB_TM1a.Enabled = Not isLPTA).';


--
-- Name: question_option; Type: TABLE; Schema: public; Owner: cpde
--

CREATE TABLE public.question_option (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    question_id uuid NOT NULL,
    code text NOT NULL,
    label_text text NOT NULL,
    engine_value text NOT NULL,
    display_order integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    applies_to_type_group text,
    CONSTRAINT question_option_applies_to_type_group_check CHECK ((applies_to_type_group = ANY (ARRAY['PRODUCT'::text, 'SERVICES'::text])))
);


ALTER TABLE public.question_option OWNER TO cpde;

--
-- Name: COLUMN question_option.engine_value; Type: COMMENT; Schema: public; Owner: cpde
--

COMMENT ON COLUMN public.question_option.engine_value IS 'The seam. Web app stores option codes; engine receives these strings (e.g. ''4% lower than normal''). Changing the engine contract later means updating this column only -- not every stored answer.';


--
-- Name: COLUMN question_option.applies_to_type_group; Type: COMMENT; Schema: public; Owner: cpde
--

COMMENT ON COLUMN public.question_option.applies_to_type_group IS 'NULL = applies to all opportunity types. Non-null = only shown when the pursuit''s opportunity_type.type_group matches.';


--
-- Name: question_prompt_variant; Type: TABLE; Schema: public; Owner: cpde
--

CREATE TABLE public.question_prompt_variant (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    question_id uuid NOT NULL,
    type_group text NOT NULL,
    prompt_text text NOT NULL,
    help_text text,
    CONSTRAINT question_prompt_variant_type_group_check CHECK ((type_group = ANY (ARRAY['PRODUCT'::text, 'SERVICES'::text])))
);


ALTER TABLE public.question_prompt_variant OWNER TO cpde;

--
-- Name: questionnaire_version; Type: TABLE; Schema: public; Owner: cpde
--

CREATE TABLE public.questionnaire_version (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    code text NOT NULL,
    version_no integer NOT NULL,
    engine_version text,
    effective_from date NOT NULL,
    is_active boolean DEFAULT false NOT NULL,
    notes text
);


ALTER TABLE public.questionnaire_version OWNER TO cpde;

--
-- Name: role; Type: TABLE; Schema: public; Owner: cpde
--

CREATE TABLE public.role (
    id smallint NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    description text
);


ALTER TABLE public.role OWNER TO cpde;

--
-- Name: role_id_seq; Type: SEQUENCE; Schema: public; Owner: cpde
--

CREATE SEQUENCE public.role_id_seq
    AS smallint
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.role_id_seq OWNER TO cpde;

--
-- Name: role_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cpde
--

ALTER SEQUENCE public.role_id_seq OWNED BY public.role.id;


--
-- Name: user_scope_assignment; Type: TABLE; Schema: public; Owner: cpde
--

CREATE TABLE public.user_scope_assignment (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    org_node_id uuid NOT NULL,
    role_id smallint NOT NULL,
    granted_at timestamp with time zone DEFAULT now() NOT NULL,
    granted_by uuid,
    client_id uuid NOT NULL
);

ALTER TABLE ONLY public.user_scope_assignment FORCE ROW LEVEL SECURITY;


ALTER TABLE public.user_scope_assignment OWNER TO cpde;

--
-- Name: audit_log id; Type: DEFAULT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.audit_log ALTER COLUMN id SET DEFAULT nextval('public.audit_log_id_seq'::regclass);


--
-- Name: contract_type id; Type: DEFAULT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.contract_type ALTER COLUMN id SET DEFAULT nextval('public.contract_type_id_seq'::regclass);


--
-- Name: labor_category id; Type: DEFAULT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.labor_category ALTER COLUMN id SET DEFAULT nextval('public.labor_category_id_seq'::regclass);


--
-- Name: opportunity_type id; Type: DEFAULT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.opportunity_type ALTER COLUMN id SET DEFAULT nextval('public.opportunity_type_id_seq'::regclass);


--
-- Name: phase id; Type: DEFAULT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.phase ALTER COLUMN id SET DEFAULT nextval('public.phase_id_seq'::regclass);


--
-- Name: pipeline_stage id; Type: DEFAULT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pipeline_stage ALTER COLUMN id SET DEFAULT nextval('public.pipeline_stage_id_seq'::regclass);


--
-- Name: role id; Type: DEFAULT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.role ALTER COLUMN id SET DEFAULT nextval('public.role_id_seq'::regclass);


--
-- Data for Name: app_user; Type: TABLE DATA; Schema: public; Owner: cpde
--

COPY public.app_user (id, client_id, email, display_name, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: audit_log; Type: TABLE DATA; Schema: public; Owner: cpde
--

COPY public.audit_log (id, occurred_at, client_id, user_id, action, table_name, record_id, changed_fields, ip_address, user_agent) FROM stdin;
\.


--
-- Data for Name: client; Type: TABLE DATA; Schema: public; Owner: cpde
--

COPY public.client (id, code, name, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: contract_type; Type: TABLE DATA; Schema: public; Owner: cpde
--

COPY public.contract_type (id, code, label, engine_value, display_order, is_active) FROM stdin;
1	COST_PLUS	Cost Plus	Cost Plus	1	t
2	T_AND_M	Time & Materials	Time & Materials	2	t
3	FIXED_PRICE	Fixed Price	Fixed Price	3	t
\.


--
-- Data for Name: labor_category; Type: TABLE DATA; Schema: public; Owner: cpde
--



--
-- Data for Name: market; Type: TABLE DATA; Schema: public; Owner: cpde
--

COPY public.market (id, client_id, code, name, display_order, is_active, created_at) FROM stdin;
\.


--
-- Data for Name: opportunity_type; Type: TABLE DATA; Schema: public; Owner: cpde
--

COPY public.opportunity_type (id, code, label, engine_value, display_order, is_active, type_group) FROM stdin;
1	EXIST_PROD	Existing product solution, little modification required	Existing product solution, little modification required	1	t	PRODUCT
2	DEV_NEW	Developmental/New Product	Developmental/New Product	2	t	PRODUCT
3	ENG_TECH_SVC	Engineering/Technical Services	Engineering/Technical Services	3	t	SERVICES
4	SUSTAIN_OM	Sustainment/O&M	Sustainment/O&M	4	t	SERVICES
\.


--
-- Data for Name: org_node; Type: TABLE DATA; Schema: public; Owner: cpde
--

COPY public.org_node (id, client_id, parent_id, node_type, code, name, is_license_boundary, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: phase; Type: TABLE DATA; Schema: public; Owner: cpde
--

COPY public.phase (id, code, label, sequence_no, is_active) FROM stdin;
1	STRAT	Strategy	1	t
2	SOL	Solutioning	2	t
3	PREPROP	Pre-Proposal	3	t
4	FINAL	Final Proposal	4	t
5	EN	EN Response	5	t
\.


--
-- Data for Name: pipeline_stage; Type: TABLE DATA; Schema: public; Owner: cpde
--

COPY public.pipeline_stage (id, code, label, sequence_no, is_active) FROM stdin;
1	PRE_BH	Pre-BH	1	t
2	POST_BH	Post-BH	2	t
3	POST_PTW	Post-PTW	3	t
\.


--
-- Data for Name: plan_year; Type: TABLE DATA; Schema: public; Owner: cpde
--

COPY public.plan_year (id, org_node_id, calendar_year, escalation_rate, revenue_target, fee_target, budgeted_bp, budgeted_investment, current_contract_revenue, current_contract_fee, client_id) FROM stdin;
\.


--
-- Data for Name: pursuit; Type: TABLE DATA; Schema: public; Owner: cpde
--

COPY public.pursuit (id, client_id, org_node_id, external_opportunity_id, name, market_id, opportunity_type_id, contract_type_id, pipeline_stage_id, depends_on_pursuit_id, is_sole_source, bidders, bid_decision, planned_total_award_value, planned_fee_rate, investment_pct, min_bp, max_bp, planned_investment, bp_start_date, proposal_due_date, contract_award_date, period_end_date, stage_completed_date, cancel_date, outcome, outcome_date, crm_pwin, black_hat_ptw_complete, is_active, created_at, created_by, updated_at, updated_by) FROM stdin;
\.


--
-- Data for Name: pursuit_phase_duration; Type: TABLE DATA; Schema: public; Owner: cpde
--

COPY public.pursuit_phase_duration (id, pursuit_id, phase_id, weeks, client_id) FROM stdin;
\.


--
-- Data for Name: pursuit_staffing; Type: TABLE DATA; Schema: public; Owner: cpde
--

COPY public.pursuit_staffing (id, pursuit_id, labor_category_id, phase_id, fte, client_id) FROM stdin;
\.


--
-- Data for Name: pursuit_staffing_meta; Type: TABLE DATA; Schema: public; Owner: cpde
--

COPY public.pursuit_staffing_meta (pursuit_id, effective_bp_pct, calculated_bp, planned_bp_required, calculated_at, engine_version, client_id) FROM stdin;
\.


--
-- Data for Name: pursuit_year_projection; Type: TABLE DATA; Schema: public; Owner: cpde
--

COPY public.pursuit_year_projection (id, pursuit_id, year_offset, calendar_year, billable_contract_days, probabilistic_revenue, probabilistic_fee, bp_days, bp_required, planned_investment, client_id) FROM stdin;
\.


--
-- Data for Name: pwin_answer; Type: TABLE DATA; Schema: public; Owner: cpde
--

COPY public.pwin_answer (id, pwin_assessment_id, question_id, question_option_id, numeric_value, boolean_value, client_id) FROM stdin;
\.


--
-- Data for Name: pwin_assessment; Type: TABLE DATA; Schema: public; Owner: cpde
--

COPY public.pwin_assessment (id, pursuit_id, questionnaire_version_id, engine_version, calculated_at, calculated_by, pwin, base_pwin, score_tech, score_mgmt, score_past_perf, price_position, competitor_price_position, engine_request, engine_response, is_current, scenario, blended_pwin, client_id) FROM stdin;
\.


--
-- Data for Name: question; Type: TABLE DATA; Schema: public; Owner: cpde
--



--
-- Data for Name: question_dependency; Type: TABLE DATA; Schema: public; Owner: cpde
--

COPY public.question_dependency (id, question_id, depends_on_question_id, trigger_option_id, effect) FROM stdin;
307cac4f-7258-48c1-9b4f-2b2b18b1eb53	91dd3856-6efa-4315-b902-ff6f1b5c3b06	7ba9ba9c-f4ee-416a-9ada-f2323d78d20a	d95a4792-77fc-4a16-8f15-77db0d605d76	DISABLE
002a17b2-cfb6-4fda-bfaa-861a9fa8ed89	b323af7c-2260-405d-a344-b1e19f61630a	7ba9ba9c-f4ee-416a-9ada-f2323d78d20a	d95a4792-77fc-4a16-8f15-77db0d605d76	DISABLE
\.


--
-- Data for Name: question_option; Type: TABLE DATA; Schema: public; Owner: cpde
--



--
-- Data for Name: question_prompt_variant; Type: TABLE DATA; Schema: public; Owner: cpde
--



--
-- Data for Name: questionnaire_version; Type: TABLE DATA; Schema: public; Owner: cpde
--

COPY public.questionnaire_version (id, code, version_no, engine_version, effective_from, is_active, notes) FROM stdin;
0cd1f7b2-11af-4e07-a735-a893daef4f34	pwin	1	0.23	2026-01-01	t	Extracted from workbook v2.15 / engine v0.23. Option engine_value\n         strings must match modDropdowns.bas verbatim.
\.


--
-- Data for Name: role; Type: TABLE DATA; Schema: public; Owner: cpde
--

COPY public.role (id, code, name, description) FROM stdin;
1	admin	Administrator	Full access within client scope
2	executive	Executive	Read + rollup across assigned org scope
3	capture_manager	Capture Manager	Create/edit pursuits within scope
4	read_only	Read Only	View only
\.


--
-- Data for Name: user_scope_assignment; Type: TABLE DATA; Schema: public; Owner: cpde
--

COPY public.user_scope_assignment (id, user_id, org_node_id, role_id, granted_at, granted_by, client_id) FROM stdin;
\.


--
-- Name: audit_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cpde
--

SELECT pg_catalog.setval('public.audit_log_id_seq', 1, false);


--
-- Name: contract_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cpde
--

SELECT pg_catalog.setval('public.contract_type_id_seq', 3, true);


--
-- Name: labor_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cpde
--

SELECT pg_catalog.setval('public.labor_category_id_seq', 18, true);


--
-- Name: opportunity_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cpde
--

SELECT pg_catalog.setval('public.opportunity_type_id_seq', 4, true);


--
-- Name: phase_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cpde
--

SELECT pg_catalog.setval('public.phase_id_seq', 5, true);


--
-- Name: pipeline_stage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cpde
--

SELECT pg_catalog.setval('public.pipeline_stage_id_seq', 3, true);


--
-- Name: role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cpde
--

SELECT pg_catalog.setval('public.role_id_seq', 4, true);


--
-- Name: app_user app_user_pkey; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.app_user
    ADD CONSTRAINT app_user_pkey PRIMARY KEY (id);


--
-- Name: audit_log audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_pkey PRIMARY KEY (id);


--
-- Name: client client_code_key; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.client
    ADD CONSTRAINT client_code_key UNIQUE (code);


--
-- Name: client client_pkey; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.client
    ADD CONSTRAINT client_pkey PRIMARY KEY (id);


--
-- Name: contract_type contract_type_code_key; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.contract_type
    ADD CONSTRAINT contract_type_code_key UNIQUE (code);


--
-- Name: contract_type contract_type_pkey; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.contract_type
    ADD CONSTRAINT contract_type_pkey PRIMARY KEY (id);


--
-- Name: labor_category labor_category_code_key; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.labor_category
    ADD CONSTRAINT labor_category_code_key UNIQUE (code);


--
-- Name: labor_category labor_category_pkey; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.labor_category
    ADD CONSTRAINT labor_category_pkey PRIMARY KEY (id);


--
-- Name: market market_pkey; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.market
    ADD CONSTRAINT market_pkey PRIMARY KEY (id);


--
-- Name: opportunity_type opportunity_type_code_key; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.opportunity_type
    ADD CONSTRAINT opportunity_type_code_key UNIQUE (code);


--
-- Name: opportunity_type opportunity_type_pkey; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.opportunity_type
    ADD CONSTRAINT opportunity_type_pkey PRIMARY KEY (id);


--
-- Name: org_node org_node_pkey; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.org_node
    ADD CONSTRAINT org_node_pkey PRIMARY KEY (id);


--
-- Name: phase phase_code_key; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.phase
    ADD CONSTRAINT phase_code_key UNIQUE (code);


--
-- Name: phase phase_pkey; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.phase
    ADD CONSTRAINT phase_pkey PRIMARY KEY (id);


--
-- Name: phase phase_sequence_no_key; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.phase
    ADD CONSTRAINT phase_sequence_no_key UNIQUE (sequence_no);


--
-- Name: pipeline_stage pipeline_stage_code_key; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pipeline_stage
    ADD CONSTRAINT pipeline_stage_code_key UNIQUE (code);


--
-- Name: pipeline_stage pipeline_stage_pkey; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pipeline_stage
    ADD CONSTRAINT pipeline_stage_pkey PRIMARY KEY (id);


--
-- Name: pipeline_stage pipeline_stage_sequence_no_key; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pipeline_stage
    ADD CONSTRAINT pipeline_stage_sequence_no_key UNIQUE (sequence_no);


--
-- Name: plan_year plan_year_pkey; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.plan_year
    ADD CONSTRAINT plan_year_pkey PRIMARY KEY (id);


--
-- Name: pursuit_phase_duration pursuit_phase_duration_pkey; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pursuit_phase_duration
    ADD CONSTRAINT pursuit_phase_duration_pkey PRIMARY KEY (id);


--
-- Name: pursuit pursuit_pkey; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pursuit
    ADD CONSTRAINT pursuit_pkey PRIMARY KEY (id);


--
-- Name: pursuit_staffing_meta pursuit_staffing_meta_pkey; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pursuit_staffing_meta
    ADD CONSTRAINT pursuit_staffing_meta_pkey PRIMARY KEY (pursuit_id);


--
-- Name: pursuit_staffing pursuit_staffing_pkey; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pursuit_staffing
    ADD CONSTRAINT pursuit_staffing_pkey PRIMARY KEY (id);


--
-- Name: pursuit_year_projection pursuit_year_projection_pkey; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pursuit_year_projection
    ADD CONSTRAINT pursuit_year_projection_pkey PRIMARY KEY (id);


--
-- Name: pwin_answer pwin_answer_pkey; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pwin_answer
    ADD CONSTRAINT pwin_answer_pkey PRIMARY KEY (id);


--
-- Name: pwin_assessment pwin_assessment_pkey; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pwin_assessment
    ADD CONSTRAINT pwin_assessment_pkey PRIMARY KEY (id);


--
-- Name: question_dependency question_dependency_pkey; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.question_dependency
    ADD CONSTRAINT question_dependency_pkey PRIMARY KEY (id);


--
-- Name: question_option question_option_pkey; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.question_option
    ADD CONSTRAINT question_option_pkey PRIMARY KEY (id);


--
-- Name: question question_pkey; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.question
    ADD CONSTRAINT question_pkey PRIMARY KEY (id);


--
-- Name: question_prompt_variant question_prompt_variant_pkey; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.question_prompt_variant
    ADD CONSTRAINT question_prompt_variant_pkey PRIMARY KEY (id);


--
-- Name: questionnaire_version questionnaire_version_pkey; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.questionnaire_version
    ADD CONSTRAINT questionnaire_version_pkey PRIMARY KEY (id);


--
-- Name: role role_code_key; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT role_code_key UNIQUE (code);


--
-- Name: role role_pkey; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT role_pkey PRIMARY KEY (id);


--
-- Name: app_user uq_app_user_email; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.app_user
    ADD CONSTRAINT uq_app_user_email UNIQUE (client_id, email);


--
-- Name: market uq_market_code; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.market
    ADD CONSTRAINT uq_market_code UNIQUE (client_id, code);


--
-- Name: org_node uq_org_node_code; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.org_node
    ADD CONSTRAINT uq_org_node_code UNIQUE (client_id, code);


--
-- Name: plan_year uq_plan_year; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.plan_year
    ADD CONSTRAINT uq_plan_year UNIQUE (org_node_id, calendar_year);


--
-- Name: pursuit_phase_duration uq_pursuit_phase; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pursuit_phase_duration
    ADD CONSTRAINT uq_pursuit_phase UNIQUE (pursuit_id, phase_id);


--
-- Name: pursuit_staffing uq_pursuit_staffing; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pursuit_staffing
    ADD CONSTRAINT uq_pursuit_staffing UNIQUE (pursuit_id, labor_category_id, phase_id);


--
-- Name: pursuit_year_projection uq_pursuit_year; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pursuit_year_projection
    ADD CONSTRAINT uq_pursuit_year UNIQUE (pursuit_id, year_offset);


--
-- Name: pwin_answer uq_pwin_answer; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pwin_answer
    ADD CONSTRAINT uq_pwin_answer UNIQUE (pwin_assessment_id, question_id);


--
-- Name: question uq_question; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.question
    ADD CONSTRAINT uq_question UNIQUE (questionnaire_version_id, code);


--
-- Name: question_dependency uq_question_dependency; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.question_dependency
    ADD CONSTRAINT uq_question_dependency UNIQUE (question_id, depends_on_question_id, trigger_option_id);


--
-- Name: question_option uq_question_option; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.question_option
    ADD CONSTRAINT uq_question_option UNIQUE (question_id, code);


--
-- Name: question_prompt_variant uq_question_prompt_variant; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.question_prompt_variant
    ADD CONSTRAINT uq_question_prompt_variant UNIQUE (question_id, type_group);


--
-- Name: questionnaire_version uq_qv; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.questionnaire_version
    ADD CONSTRAINT uq_qv UNIQUE (code, version_no);


--
-- Name: user_scope_assignment uq_user_scope; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.user_scope_assignment
    ADD CONSTRAINT uq_user_scope UNIQUE (user_id, org_node_id, role_id);


--
-- Name: user_scope_assignment user_scope_assignment_pkey; Type: CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.user_scope_assignment
    ADD CONSTRAINT user_scope_assignment_pkey PRIMARY KEY (id);


--
-- Name: ix_audit_occurred; Type: INDEX; Schema: public; Owner: cpde
--

CREATE INDEX ix_audit_occurred ON public.audit_log USING btree (occurred_at DESC);


--
-- Name: ix_audit_record; Type: INDEX; Schema: public; Owner: cpde
--

CREATE INDEX ix_audit_record ON public.audit_log USING btree (table_name, record_id);


--
-- Name: ix_audit_user; Type: INDEX; Schema: public; Owner: cpde
--

CREATE INDEX ix_audit_user ON public.audit_log USING btree (user_id, occurred_at DESC);


--
-- Name: ix_org_node_client; Type: INDEX; Schema: public; Owner: cpde
--

CREATE INDEX ix_org_node_client ON public.org_node USING btree (client_id);


--
-- Name: ix_org_node_parent; Type: INDEX; Schema: public; Owner: cpde
--

CREATE INDEX ix_org_node_parent ON public.org_node USING btree (parent_id);


--
-- Name: ix_ppd_cid; Type: INDEX; Schema: public; Owner: cpde
--

CREATE INDEX ix_ppd_cid ON public.pursuit_phase_duration USING btree (client_id);


--
-- Name: ix_pursuit_dep; Type: INDEX; Schema: public; Owner: cpde
--

CREATE INDEX ix_pursuit_dep ON public.pursuit USING btree (depends_on_pursuit_id);


--
-- Name: ix_pursuit_market; Type: INDEX; Schema: public; Owner: cpde
--

CREATE INDEX ix_pursuit_market ON public.pursuit USING btree (market_id);


--
-- Name: ix_pursuit_open; Type: INDEX; Schema: public; Owner: cpde
--

CREATE INDEX ix_pursuit_open ON public.pursuit USING btree (client_id) WHERE ((outcome IS NULL) AND is_active);


--
-- Name: ix_pursuit_org; Type: INDEX; Schema: public; Owner: cpde
--

CREATE INDEX ix_pursuit_org ON public.pursuit USING btree (org_node_id);


--
-- Name: ix_pwa_cid; Type: INDEX; Schema: public; Owner: cpde
--

CREATE INDEX ix_pwa_cid ON public.pwin_assessment USING btree (client_id);


--
-- Name: ix_pwan_cid; Type: INDEX; Schema: public; Owner: cpde
--

CREATE INDEX ix_pwan_cid ON public.pwin_answer USING btree (client_id);


--
-- Name: ix_pwin_answer_assessment; Type: INDEX; Schema: public; Owner: cpde
--

CREATE INDEX ix_pwin_answer_assessment ON public.pwin_answer USING btree (pwin_assessment_id);


--
-- Name: ix_pwin_pursuit; Type: INDEX; Schema: public; Owner: cpde
--

CREATE INDEX ix_pwin_pursuit ON public.pwin_assessment USING btree (pursuit_id, calculated_at DESC);


--
-- Name: ix_py_cid; Type: INDEX; Schema: public; Owner: cpde
--

CREATE INDEX ix_py_cid ON public.plan_year USING btree (client_id);


--
-- Name: ix_pyp_cid; Type: INDEX; Schema: public; Owner: cpde
--

CREATE INDEX ix_pyp_cid ON public.pursuit_year_projection USING btree (client_id);


--
-- Name: ix_pyp_pursuit; Type: INDEX; Schema: public; Owner: cpde
--

CREATE INDEX ix_pyp_pursuit ON public.pursuit_year_projection USING btree (pursuit_id);


--
-- Name: ix_staffing_pursuit; Type: INDEX; Schema: public; Owner: cpde
--

CREATE INDEX ix_staffing_pursuit ON public.pursuit_staffing USING btree (pursuit_id);


--
-- Name: ix_stf_cid; Type: INDEX; Schema: public; Owner: cpde
--

CREATE INDEX ix_stf_cid ON public.pursuit_staffing USING btree (client_id);


--
-- Name: ix_usa_cid; Type: INDEX; Schema: public; Owner: cpde
--

CREATE INDEX ix_usa_cid ON public.user_scope_assignment USING btree (client_id);


--
-- Name: ix_user_scope_user; Type: INDEX; Schema: public; Owner: cpde
--

CREATE INDEX ix_user_scope_user ON public.user_scope_assignment USING btree (user_id);


--
-- Name: uq_pursuit_ext_opp; Type: INDEX; Schema: public; Owner: cpde
--

CREATE UNIQUE INDEX uq_pursuit_ext_opp ON public.pursuit USING btree (client_id, external_opportunity_id) WHERE (external_opportunity_id IS NOT NULL);


--
-- Name: uq_pwin_current; Type: INDEX; Schema: public; Owner: cpde
--

CREATE UNIQUE INDEX uq_pwin_current ON public.pwin_assessment USING btree (pursuit_id, scenario) WHERE is_current;


--
-- Name: uq_qv_active; Type: INDEX; Schema: public; Owner: cpde
--

CREATE UNIQUE INDEX uq_qv_active ON public.questionnaire_version USING btree (code) WHERE is_active;


--
-- Name: plan_year trg_cid; Type: TRIGGER; Schema: public; Owner: cpde
--

CREATE TRIGGER trg_cid BEFORE INSERT OR UPDATE ON public.plan_year FOR EACH ROW EXECUTE FUNCTION public.fn_inherit_client_from_org();


--
-- Name: pursuit_phase_duration trg_cid; Type: TRIGGER; Schema: public; Owner: cpde
--

CREATE TRIGGER trg_cid BEFORE INSERT OR UPDATE ON public.pursuit_phase_duration FOR EACH ROW EXECUTE FUNCTION public.fn_inherit_client_from_pursuit();


--
-- Name: pursuit_staffing trg_cid; Type: TRIGGER; Schema: public; Owner: cpde
--

CREATE TRIGGER trg_cid BEFORE INSERT OR UPDATE ON public.pursuit_staffing FOR EACH ROW EXECUTE FUNCTION public.fn_inherit_client_from_pursuit();


--
-- Name: pursuit_staffing_meta trg_cid; Type: TRIGGER; Schema: public; Owner: cpde
--

CREATE TRIGGER trg_cid BEFORE INSERT OR UPDATE ON public.pursuit_staffing_meta FOR EACH ROW EXECUTE FUNCTION public.fn_inherit_client_from_pursuit();


--
-- Name: pursuit_year_projection trg_cid; Type: TRIGGER; Schema: public; Owner: cpde
--

CREATE TRIGGER trg_cid BEFORE INSERT OR UPDATE ON public.pursuit_year_projection FOR EACH ROW EXECUTE FUNCTION public.fn_inherit_client_from_pursuit();


--
-- Name: pwin_answer trg_cid; Type: TRIGGER; Schema: public; Owner: cpde
--

CREATE TRIGGER trg_cid BEFORE INSERT OR UPDATE ON public.pwin_answer FOR EACH ROW EXECUTE FUNCTION public.fn_inherit_client_from_assessment();


--
-- Name: pwin_assessment trg_cid; Type: TRIGGER; Schema: public; Owner: cpde
--

CREATE TRIGGER trg_cid BEFORE INSERT OR UPDATE ON public.pwin_assessment FOR EACH ROW EXECUTE FUNCTION public.fn_inherit_client_from_pursuit();


--
-- Name: user_scope_assignment trg_cid; Type: TRIGGER; Schema: public; Owner: cpde
--

CREATE TRIGGER trg_cid BEFORE INSERT OR UPDATE ON public.user_scope_assignment FOR EACH ROW EXECUTE FUNCTION public.fn_inherit_client_from_user();


--
-- Name: market trg_market_code_immutable; Type: TRIGGER; Schema: public; Owner: cpde
--

CREATE TRIGGER trg_market_code_immutable BEFORE UPDATE ON public.market FOR EACH ROW EXECUTE FUNCTION public.fn_market_code_immutable();


--
-- Name: org_node trg_org_node_validate; Type: TRIGGER; Schema: public; Owner: cpde
--

CREATE TRIGGER trg_org_node_validate BEFORE INSERT OR UPDATE ON public.org_node FOR EACH ROW EXECUTE FUNCTION public.fn_org_node_validate();


--
-- Name: app_user app_user_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.app_user
    ADD CONSTRAINT app_user_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.client(id) ON DELETE RESTRICT;


--
-- Name: market market_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.market
    ADD CONSTRAINT market_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.client(id) ON DELETE RESTRICT;


--
-- Name: org_node org_node_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.org_node
    ADD CONSTRAINT org_node_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.client(id) ON DELETE RESTRICT;


--
-- Name: org_node org_node_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.org_node
    ADD CONSTRAINT org_node_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.org_node(id) ON DELETE RESTRICT;


--
-- Name: plan_year plan_year_org_node_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.plan_year
    ADD CONSTRAINT plan_year_org_node_id_fkey FOREIGN KEY (org_node_id) REFERENCES public.org_node(id) ON DELETE CASCADE;


--
-- Name: pursuit pursuit_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pursuit
    ADD CONSTRAINT pursuit_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.client(id) ON DELETE RESTRICT;


--
-- Name: pursuit pursuit_contract_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pursuit
    ADD CONSTRAINT pursuit_contract_type_id_fkey FOREIGN KEY (contract_type_id) REFERENCES public.contract_type(id);


--
-- Name: pursuit pursuit_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pursuit
    ADD CONSTRAINT pursuit_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.app_user(id);


--
-- Name: pursuit pursuit_depends_on_pursuit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pursuit
    ADD CONSTRAINT pursuit_depends_on_pursuit_id_fkey FOREIGN KEY (depends_on_pursuit_id) REFERENCES public.pursuit(id) ON DELETE SET NULL;


--
-- Name: pursuit pursuit_market_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pursuit
    ADD CONSTRAINT pursuit_market_id_fkey FOREIGN KEY (market_id) REFERENCES public.market(id) ON DELETE RESTRICT;


--
-- Name: pursuit pursuit_opportunity_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pursuit
    ADD CONSTRAINT pursuit_opportunity_type_id_fkey FOREIGN KEY (opportunity_type_id) REFERENCES public.opportunity_type(id);


--
-- Name: pursuit pursuit_org_node_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pursuit
    ADD CONSTRAINT pursuit_org_node_id_fkey FOREIGN KEY (org_node_id) REFERENCES public.org_node(id) ON DELETE RESTRICT;


--
-- Name: pursuit_phase_duration pursuit_phase_duration_phase_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pursuit_phase_duration
    ADD CONSTRAINT pursuit_phase_duration_phase_id_fkey FOREIGN KEY (phase_id) REFERENCES public.phase(id);


--
-- Name: pursuit_phase_duration pursuit_phase_duration_pursuit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pursuit_phase_duration
    ADD CONSTRAINT pursuit_phase_duration_pursuit_id_fkey FOREIGN KEY (pursuit_id) REFERENCES public.pursuit(id) ON DELETE CASCADE;


--
-- Name: pursuit pursuit_pipeline_stage_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pursuit
    ADD CONSTRAINT pursuit_pipeline_stage_id_fkey FOREIGN KEY (pipeline_stage_id) REFERENCES public.pipeline_stage(id);


--
-- Name: pursuit_staffing pursuit_staffing_labor_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pursuit_staffing
    ADD CONSTRAINT pursuit_staffing_labor_category_id_fkey FOREIGN KEY (labor_category_id) REFERENCES public.labor_category(id);


--
-- Name: pursuit_staffing_meta pursuit_staffing_meta_pursuit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pursuit_staffing_meta
    ADD CONSTRAINT pursuit_staffing_meta_pursuit_id_fkey FOREIGN KEY (pursuit_id) REFERENCES public.pursuit(id) ON DELETE CASCADE;


--
-- Name: pursuit_staffing pursuit_staffing_phase_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pursuit_staffing
    ADD CONSTRAINT pursuit_staffing_phase_id_fkey FOREIGN KEY (phase_id) REFERENCES public.phase(id);


--
-- Name: pursuit_staffing pursuit_staffing_pursuit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pursuit_staffing
    ADD CONSTRAINT pursuit_staffing_pursuit_id_fkey FOREIGN KEY (pursuit_id) REFERENCES public.pursuit(id) ON DELETE CASCADE;


--
-- Name: pursuit pursuit_updated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pursuit
    ADD CONSTRAINT pursuit_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES public.app_user(id);


--
-- Name: pursuit_year_projection pursuit_year_projection_pursuit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pursuit_year_projection
    ADD CONSTRAINT pursuit_year_projection_pursuit_id_fkey FOREIGN KEY (pursuit_id) REFERENCES public.pursuit(id) ON DELETE CASCADE;


--
-- Name: pwin_answer pwin_answer_pwin_assessment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pwin_answer
    ADD CONSTRAINT pwin_answer_pwin_assessment_id_fkey FOREIGN KEY (pwin_assessment_id) REFERENCES public.pwin_assessment(id) ON DELETE CASCADE;


--
-- Name: pwin_answer pwin_answer_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pwin_answer
    ADD CONSTRAINT pwin_answer_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.question(id);


--
-- Name: pwin_answer pwin_answer_question_option_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pwin_answer
    ADD CONSTRAINT pwin_answer_question_option_id_fkey FOREIGN KEY (question_option_id) REFERENCES public.question_option(id);


--
-- Name: pwin_assessment pwin_assessment_calculated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pwin_assessment
    ADD CONSTRAINT pwin_assessment_calculated_by_fkey FOREIGN KEY (calculated_by) REFERENCES public.app_user(id);


--
-- Name: pwin_assessment pwin_assessment_pursuit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pwin_assessment
    ADD CONSTRAINT pwin_assessment_pursuit_id_fkey FOREIGN KEY (pursuit_id) REFERENCES public.pursuit(id) ON DELETE CASCADE;


--
-- Name: pwin_assessment pwin_assessment_questionnaire_version_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.pwin_assessment
    ADD CONSTRAINT pwin_assessment_questionnaire_version_id_fkey FOREIGN KEY (questionnaire_version_id) REFERENCES public.questionnaire_version(id);


--
-- Name: question_dependency question_dependency_depends_on_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.question_dependency
    ADD CONSTRAINT question_dependency_depends_on_question_id_fkey FOREIGN KEY (depends_on_question_id) REFERENCES public.question(id) ON DELETE CASCADE;


--
-- Name: question_dependency question_dependency_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.question_dependency
    ADD CONSTRAINT question_dependency_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.question(id) ON DELETE CASCADE;


--
-- Name: question_dependency question_dependency_trigger_option_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.question_dependency
    ADD CONSTRAINT question_dependency_trigger_option_id_fkey FOREIGN KEY (trigger_option_id) REFERENCES public.question_option(id) ON DELETE CASCADE;


--
-- Name: question_option question_option_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.question_option
    ADD CONSTRAINT question_option_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.question(id) ON DELETE CASCADE;


--
-- Name: question_prompt_variant question_prompt_variant_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.question_prompt_variant
    ADD CONSTRAINT question_prompt_variant_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.question(id) ON DELETE CASCADE;


--
-- Name: question question_questionnaire_version_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.question
    ADD CONSTRAINT question_questionnaire_version_id_fkey FOREIGN KEY (questionnaire_version_id) REFERENCES public.questionnaire_version(id) ON DELETE CASCADE;


--
-- Name: user_scope_assignment user_scope_assignment_granted_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.user_scope_assignment
    ADD CONSTRAINT user_scope_assignment_granted_by_fkey FOREIGN KEY (granted_by) REFERENCES public.app_user(id);


--
-- Name: user_scope_assignment user_scope_assignment_org_node_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.user_scope_assignment
    ADD CONSTRAINT user_scope_assignment_org_node_id_fkey FOREIGN KEY (org_node_id) REFERENCES public.org_node(id) ON DELETE CASCADE;


--
-- Name: user_scope_assignment user_scope_assignment_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.user_scope_assignment
    ADD CONSTRAINT user_scope_assignment_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.role(id);


--
-- Name: user_scope_assignment user_scope_assignment_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cpde
--

ALTER TABLE ONLY public.user_scope_assignment
    ADD CONSTRAINT user_scope_assignment_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.app_user(id) ON DELETE CASCADE;


--
-- Name: app_user; Type: ROW SECURITY; Schema: public; Owner: cpde
--

ALTER TABLE public.app_user ENABLE ROW LEVEL SECURITY;

--
-- Name: audit_log; Type: ROW SECURITY; Schema: public; Owner: cpde
--

ALTER TABLE public.audit_log ENABLE ROW LEVEL SECURITY;

--
-- Name: client; Type: ROW SECURITY; Schema: public; Owner: cpde
--

ALTER TABLE public.client ENABLE ROW LEVEL SECURITY;

--
-- Name: market; Type: ROW SECURITY; Schema: public; Owner: cpde
--

ALTER TABLE public.market ENABLE ROW LEVEL SECURITY;

--
-- Name: org_node; Type: ROW SECURITY; Schema: public; Owner: cpde
--

ALTER TABLE public.org_node ENABLE ROW LEVEL SECURITY;

--
-- Name: plan_year; Type: ROW SECURITY; Schema: public; Owner: cpde
--

ALTER TABLE public.plan_year ENABLE ROW LEVEL SECURITY;

--
-- Name: pursuit; Type: ROW SECURITY; Schema: public; Owner: cpde
--

ALTER TABLE public.pursuit ENABLE ROW LEVEL SECURITY;

--
-- Name: pursuit_phase_duration; Type: ROW SECURITY; Schema: public; Owner: cpde
--

ALTER TABLE public.pursuit_phase_duration ENABLE ROW LEVEL SECURITY;

--
-- Name: pursuit_staffing; Type: ROW SECURITY; Schema: public; Owner: cpde
--

ALTER TABLE public.pursuit_staffing ENABLE ROW LEVEL SECURITY;

--
-- Name: pursuit_staffing_meta; Type: ROW SECURITY; Schema: public; Owner: cpde
--

ALTER TABLE public.pursuit_staffing_meta ENABLE ROW LEVEL SECURITY;

--
-- Name: pursuit_year_projection; Type: ROW SECURITY; Schema: public; Owner: cpde
--

ALTER TABLE public.pursuit_year_projection ENABLE ROW LEVEL SECURITY;

--
-- Name: pwin_answer; Type: ROW SECURITY; Schema: public; Owner: cpde
--

ALTER TABLE public.pwin_answer ENABLE ROW LEVEL SECURITY;

--
-- Name: pwin_assessment; Type: ROW SECURITY; Schema: public; Owner: cpde
--

ALTER TABLE public.pwin_assessment ENABLE ROW LEVEL SECURITY;

--
-- Name: app_user tenant_isolation; Type: POLICY; Schema: public; Owner: cpde
--

CREATE POLICY tenant_isolation ON public.app_user USING ((client_id = public.current_tenant())) WITH CHECK ((client_id = public.current_tenant()));


--
-- Name: audit_log tenant_isolation; Type: POLICY; Schema: public; Owner: cpde
--

CREATE POLICY tenant_isolation ON public.audit_log USING ((client_id = public.current_tenant())) WITH CHECK ((client_id = public.current_tenant()));


--
-- Name: client tenant_isolation; Type: POLICY; Schema: public; Owner: cpde
--

CREATE POLICY tenant_isolation ON public.client USING ((id = public.current_tenant())) WITH CHECK ((id = public.current_tenant()));


--
-- Name: market tenant_isolation; Type: POLICY; Schema: public; Owner: cpde
--

CREATE POLICY tenant_isolation ON public.market USING ((client_id = public.current_tenant())) WITH CHECK ((client_id = public.current_tenant()));


--
-- Name: org_node tenant_isolation; Type: POLICY; Schema: public; Owner: cpde
--

CREATE POLICY tenant_isolation ON public.org_node USING ((client_id = public.current_tenant())) WITH CHECK ((client_id = public.current_tenant()));


--
-- Name: plan_year tenant_isolation; Type: POLICY; Schema: public; Owner: cpde
--

CREATE POLICY tenant_isolation ON public.plan_year USING ((client_id = public.current_tenant())) WITH CHECK ((client_id = public.current_tenant()));


--
-- Name: pursuit tenant_isolation; Type: POLICY; Schema: public; Owner: cpde
--

CREATE POLICY tenant_isolation ON public.pursuit USING ((client_id = public.current_tenant())) WITH CHECK ((client_id = public.current_tenant()));


--
-- Name: pursuit_phase_duration tenant_isolation; Type: POLICY; Schema: public; Owner: cpde
--

CREATE POLICY tenant_isolation ON public.pursuit_phase_duration USING ((client_id = public.current_tenant())) WITH CHECK ((client_id = public.current_tenant()));


--
-- Name: pursuit_staffing tenant_isolation; Type: POLICY; Schema: public; Owner: cpde
--

CREATE POLICY tenant_isolation ON public.pursuit_staffing USING ((client_id = public.current_tenant())) WITH CHECK ((client_id = public.current_tenant()));


--
-- Name: pursuit_staffing_meta tenant_isolation; Type: POLICY; Schema: public; Owner: cpde
--

CREATE POLICY tenant_isolation ON public.pursuit_staffing_meta USING ((client_id = public.current_tenant())) WITH CHECK ((client_id = public.current_tenant()));


--
-- Name: pursuit_year_projection tenant_isolation; Type: POLICY; Schema: public; Owner: cpde
--

CREATE POLICY tenant_isolation ON public.pursuit_year_projection USING ((client_id = public.current_tenant())) WITH CHECK ((client_id = public.current_tenant()));


--
-- Name: pwin_answer tenant_isolation; Type: POLICY; Schema: public; Owner: cpde
--

CREATE POLICY tenant_isolation ON public.pwin_answer USING ((client_id = public.current_tenant())) WITH CHECK ((client_id = public.current_tenant()));


--
-- Name: pwin_assessment tenant_isolation; Type: POLICY; Schema: public; Owner: cpde
--

CREATE POLICY tenant_isolation ON public.pwin_assessment USING ((client_id = public.current_tenant())) WITH CHECK ((client_id = public.current_tenant()));


--
-- Name: user_scope_assignment tenant_isolation; Type: POLICY; Schema: public; Owner: cpde
--

CREATE POLICY tenant_isolation ON public.user_scope_assignment USING ((client_id = public.current_tenant())) WITH CHECK ((client_id = public.current_tenant()));


--
-- Name: user_scope_assignment; Type: ROW SECURITY; Schema: public; Owner: cpde
--

ALTER TABLE public.user_scope_assignment ENABLE ROW LEVEL SECURITY;

--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT USAGE ON SCHEMA public TO cpde_app;


--
-- Name: TABLE app_user; Type: ACL; Schema: public; Owner: cpde
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.app_user TO cpde_app;


--
-- Name: TABLE audit_log; Type: ACL; Schema: public; Owner: cpde
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.audit_log TO cpde_app;


--
-- Name: SEQUENCE audit_log_id_seq; Type: ACL; Schema: public; Owner: cpde
--

GRANT SELECT,USAGE ON SEQUENCE public.audit_log_id_seq TO cpde_app;


--
-- Name: TABLE client; Type: ACL; Schema: public; Owner: cpde
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.client TO cpde_app;


--
-- Name: TABLE contract_type; Type: ACL; Schema: public; Owner: cpde
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.contract_type TO cpde_app;


--
-- Name: SEQUENCE contract_type_id_seq; Type: ACL; Schema: public; Owner: cpde
--

GRANT SELECT,USAGE ON SEQUENCE public.contract_type_id_seq TO cpde_app;


--
-- Name: TABLE labor_category; Type: ACL; Schema: public; Owner: cpde
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.labor_category TO cpde_app;


--
-- Name: SEQUENCE labor_category_id_seq; Type: ACL; Schema: public; Owner: cpde
--

GRANT SELECT,USAGE ON SEQUENCE public.labor_category_id_seq TO cpde_app;


--
-- Name: TABLE market; Type: ACL; Schema: public; Owner: cpde
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.market TO cpde_app;


--
-- Name: TABLE opportunity_type; Type: ACL; Schema: public; Owner: cpde
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.opportunity_type TO cpde_app;


--
-- Name: SEQUENCE opportunity_type_id_seq; Type: ACL; Schema: public; Owner: cpde
--

GRANT SELECT,USAGE ON SEQUENCE public.opportunity_type_id_seq TO cpde_app;


--
-- Name: TABLE org_node; Type: ACL; Schema: public; Owner: cpde
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.org_node TO cpde_app;


--
-- Name: TABLE phase; Type: ACL; Schema: public; Owner: cpde
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.phase TO cpde_app;


--
-- Name: SEQUENCE phase_id_seq; Type: ACL; Schema: public; Owner: cpde
--

GRANT SELECT,USAGE ON SEQUENCE public.phase_id_seq TO cpde_app;


--
-- Name: TABLE pipeline_stage; Type: ACL; Schema: public; Owner: cpde
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.pipeline_stage TO cpde_app;


--
-- Name: SEQUENCE pipeline_stage_id_seq; Type: ACL; Schema: public; Owner: cpde
--

GRANT SELECT,USAGE ON SEQUENCE public.pipeline_stage_id_seq TO cpde_app;


--
-- Name: TABLE plan_year; Type: ACL; Schema: public; Owner: cpde
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.plan_year TO cpde_app;


--
-- Name: TABLE pursuit; Type: ACL; Schema: public; Owner: cpde
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.pursuit TO cpde_app;


--
-- Name: TABLE pursuit_phase_duration; Type: ACL; Schema: public; Owner: cpde
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.pursuit_phase_duration TO cpde_app;


--
-- Name: TABLE pursuit_staffing; Type: ACL; Schema: public; Owner: cpde
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.pursuit_staffing TO cpde_app;


--
-- Name: TABLE pursuit_staffing_meta; Type: ACL; Schema: public; Owner: cpde
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.pursuit_staffing_meta TO cpde_app;


--
-- Name: TABLE pursuit_year_projection; Type: ACL; Schema: public; Owner: cpde
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.pursuit_year_projection TO cpde_app;


--
-- Name: TABLE pwin_answer; Type: ACL; Schema: public; Owner: cpde
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.pwin_answer TO cpde_app;


--
-- Name: TABLE pwin_assessment; Type: ACL; Schema: public; Owner: cpde
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.pwin_assessment TO cpde_app;


--
-- Name: TABLE question; Type: ACL; Schema: public; Owner: cpde
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.question TO cpde_app;


--
-- Name: TABLE question_dependency; Type: ACL; Schema: public; Owner: cpde
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.question_dependency TO cpde_app;


--
-- Name: TABLE question_option; Type: ACL; Schema: public; Owner: cpde
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.question_option TO cpde_app;


--
-- Name: TABLE question_prompt_variant; Type: ACL; Schema: public; Owner: cpde
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.question_prompt_variant TO cpde_app;


--
-- Name: TABLE questionnaire_version; Type: ACL; Schema: public; Owner: cpde
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.questionnaire_version TO cpde_app;


--
-- Name: TABLE role; Type: ACL; Schema: public; Owner: cpde
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.role TO cpde_app;


--
-- Name: SEQUENCE role_id_seq; Type: ACL; Schema: public; Owner: cpde
--

GRANT SELECT,USAGE ON SEQUENCE public.role_id_seq TO cpde_app;


--
-- Name: TABLE user_scope_assignment; Type: ACL; Schema: public; Owner: cpde
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.user_scope_assignment TO cpde_app;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: cpde
--

ALTER DEFAULT PRIVILEGES FOR ROLE cpde IN SCHEMA public GRANT SELECT,INSERT,DELETE,UPDATE ON TABLES TO cpde_app;


--
-- PostgreSQL database dump complete
--

\unrestrict WNPWGr7mKRwUucQ1Yu6fd6guStBVb07bDc2uXfaxnUe9Ds0dfIabvx7yFCUqMmo

